body {
    background-color: pink;
    display: grid;

}

nav {
    display: flex;
    border:solid darkgoldenrod;
    justify-content: space-around;
}

@media screen and (min-width: 600px) {
    body {
        background-color: papayawhip;
        display: grid;
        /* display: flex; */
        grid-template-columns: 10% 1fr;
        column-gap: 15px;
    }

    nav {
        flex-direction: column;
        
        /* align-items: center; */
        /* padding-left: 10%; */
    }


    nav a {
        text-align: left;
    }
    /* nav a {
        padding-left: 5px;
        padding-right: 5px;
    } */
}

@media screen and (min-width: 900px) {
    body {
        background-color: red;
    }
}