body {
    background-color: pink;
    display: grid;

}

nav {
    display: flex;
    border:solid darkgoldenrod;
    justify-content: space-around;
}

@media screen and (min-width: 600px) {
    body {
        background-color: lightgreen;
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 10px;
    }

    nav {
        display: flex;
        flex-grow: column;
    }
}

@media screen and (min-width: 900px) {
    body {
        background-color: red;
    }
}